<% provide(:title, "College Finder") %>

 <div class="row">
         <div class="col-md-6 col-md-offset-3">
         	<div align="center">
<%= image_tag @college.picture.url if @college.picture? %><br><br>
<strong>College Name : </strong><%= @college.name %><br><br>
<strong>Address : </strong><%= @college.address %><br><br>
<strong>Phone : </strong><%= @college.phone %><br><br>
			</div>
		 </div> 
</div>

