<% provide(:title, "College Finder") %>
<div class="center jumbotron">

 	<h3>College Finder</h3><br>
  
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
		      <%= form_for(:dynamic_pages, url: college_check_path) do |f| %>

		      <div class="field">
				    <%= f.label :id, 'Select College' %><br>
				    <%= f.collection_select(:id, College.order(:name), :id, :name, {}) %>
			  </div>

			  <div>
				   <%= f.submit "Submit", class: "btn btn-primary"  %>
			  </div>

			  <% end %>
	  		</div>
	</div>
</div>