<% provide(:title, "Course Finder") %>
 <div class="row">
         <div class="col-md-6 col-md-offset-3">
         	<div align="center">
<strong>Course Name : </strong><%= @course.name %><br><br>
<strong>EligibilIty : </strong><%= @course.eligibility %><br><br>
<strong>Duration : </strong><%= @course.duration %><br><br>
			</div>
		 </div> 
</div>