<% provide(:title, "Course Finder") %>
<div class="center jumbotron">
    	
      <h3>Course Finder</h3><br>

   <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <%= form_for(:dynamic_pages, url: course_check_path) do |f| %>

          <div class="field">
    		    <%= f.label :id, 'Select Course'  %><br>
    		    <%= f.collection_select(:id, Course.order(:name), :id, :name, {}) %>
      	  </div>

      	  <div>
    		    <%= f.submit "Submit", class: "btn btn-primary"  %>
    	    </div>

    	   <% end %>
      </div>
    </div>
</div>