<% provide(:title, "Home | Rank Analyser") %>
<div class="center jumbotron">
    <h1>Welcome to IPU Portal</h1>
    	
      <h3>Rank Analyser</h3><br>
    <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <%= form_for(:dynamic_pages, url: rank_check_path) do |f| %>
              
          	<div class="field">
          	  <%= f.label :course_id, 'Select Course'  %><br>
          	  <%= f.collection_select(:course_id, Course.order(:name), :id, :name, {}) %>
          	</div>

        	  <div class="field">
        	    <%= f.label :category, 'Select Category'  %><br>
        	    <%= f.select :category, options_for_select(["DGEN", "ODGEN"])   %>
        	  </div>

            <div class="field">
              <%= f.label :rank, 'Enter Rank' %><br>
              <%= f.number_field :rank, :in => 1..30000, :required => true %>
            </div>

            <div>
        		    <%= f.submit "Submit", class: "btn btn-primary"  %>
        	  </div>

        	  <% end %>

          </div>
    </div>
</div>
  