<% provide(:title, "Rank Analyser") %>
<div class="row">
          <div class="col-md-6 col-md-offset-3">
<table class="table table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>College Name</th>
    </tr>
  </thead>
  <tbody>
      <% @count = 0 %> 
      <% @result.each do |result| %> 
      <tr>
        <th scope="row"><%= @count += 1 %></th>
        <td><%= result.name %></td>
      </tr>
      <% end %> 
  </tbody>
</table>
            </div>
</div>