<% provide(:title, "Staff") %>
<h1>Administrator Panel</h1>
<strong>College Index Page : </strong><%= link_to "view index", colleges_path %><br><br>
<strong>Course Index Page : </strong><%= link_to "view index", courses_path %><br><br>
<strong>Rank Index Page : </strong><%= link_to "view index", ranks_path %><br><br>

