<% provide(:title, "Staff") %>
 <div class="row">
          <div class="col-md-6 col-md-offset-3">
<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    

  <div class="field">
    <%= f.label :college_id %><br>
    <%= f.collection_select(:college_id, College.order(:name), :id, :name, {}) %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select(:course_id, Course.order(:name), :id, :name, {}) %>
  </div>


  <div class="field">
    <%= f.label :dgen %><br>
    <%= f.number_field :dgen %>
  </div>
  <div class="field">
    <%= f.label :odgen %><br>
    <%= f.number_field :odgen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>