<% provide(:title, "Staff") %>
<p id="notice"><%= notice %></p>

<h1>Listing Ranks</h1>

<table>
  <thead>
    <tr>
      <th>CollegeId</th>
      <th>CourseId</th>
      <th>CollegeName</th>
      <th>CourseName</th>
      <th>Dgen</th>
      <th>Odgen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= rank.college_id %></td>
        <td><%= rank.course_id %></td>
        <% @collegetest = rank.college_id %>
        <% @college_name = College.select(:name).where(:id => @collegetest) %>
      
        <% @college_name.each do |college_name| %>

        <td><%= college_name.name %></td>

        <% end %>
        
        <% @coursetest = rank.course_id %>
        <% @course_name = Course.select(:name).where(:id => @coursetest) %>
      
        <% @course_name.each do |course_name| %>

        <td><%= course_name.name %></td>

        <% end %>
        <td><%= rank.dgen %></td>
        <td><%= rank.odgen %></td>
        <td><%= link_to 'Show', rank %></td>
        <td><%= link_to 'Edit', edit_rank_path(rank) %></td>
        <td><%= link_to 'Destroy', rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rank', new_rank_path %>
<%= link_to 'Staff Page', staff_path %>