<% provide(:title, "Staff") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>CollegeId:</strong>
  <%= @rank.college_id %>
</p>

<p>
  <strong>CourseId:</strong>
  <%= @rank.course_id %>
</p>


<p>
  <strong>CollegeName:</strong>
  <% @collegetest = @rank.college_id %>
        <% @college_name = College.select(:name).where(:id => @collegetest) %>
      
        <% @college_name.each do |college_name| %>

        <%= college_name.name %>

        <% end %>
  
</p>

<p>
  <strong>CourseName:</strong>
  <% @coursetest = @rank.course_id %>
        <% @course_name = Course.select(:name).where(:id => @coursetest) %>
      
        <% @course_name.each do |course_name| %>

        <%= course_name.name %>

        <% end %>
</p>

<p>
  <strong>Dgen:</strong>
  <%= @rank.dgen %>
</p>

<p>
  <strong>Odgen:</strong>
  <%= @rank.odgen %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>


