
 <div class="row">
          <div class="col-md-6 col-md-offset-3">
<h1>Editing College</h1>

<%= render 'form' %>

<%= link_to 'Show', @college %> |
<%= link_to 'Back', colleges_path %>
</div>
</div>