<% provide(:title, "Staff") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @college.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @college.phone %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
