<footer class="footer">
	<small>
	©IPU Portal
	</small>
		<nav>
				<ul>
					<li><%= link_to "About", about_path%></li>
					<li><%= link_to "Contact", contact_path%></li>
				</ul>

			</nav>
</footer>