<header class="navbar navabar-fixed-top navbar-inverse" id="header">
		
			<nav>
      <div class="container">
      <div class="navbar-header page-scroll">
               
                 <%= link_to "ipu portal", '/', id: "logo" %>
                </div>
        
				  <ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",root_path %></li>
					<li><%= link_to "Courses",ipucourse_path %></li>
          <li><%= link_to "Colleges",ipucollege_path %></li>
          <li><%= link_to "Forum", 'http://localhost:3001/' %></li>
          </ul>
          
         
				
       
      </div>
			</nav>
	</header>

